@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');
body {
    margin: auto;
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    background-color: #586994;
}

.container {
    width: 100%;
    text-align: center;
}

.header>h1 {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 10px;
    margin: auto;
    width: 35%;
    background-color: #e18335;
    text-align: center;
}

.header ul>li {
    margin: 5px;
    padding: 5px;
    display: inline-flex;
    background-color: #e56399;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

ul {
    margin-right: 4%;
}

table {
    margin: auto;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border-radius: 10px;
    width: 50%;
}

td, th {
    text-align: left;
    padding: 8px;
    text-align: center;
}

tr:nth-child(odd) {
    background-color: #586994;
}

tr:nth-child(even) {
    background-color: #e56399;
}

.title {
    margin: 5px;
    padding: 5px;
    background-color: #e56399;
    width: 150px;
    font-size: 30px;
    margin: auto;
    margin-top: 5%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.block{
    margin-top: 5% !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin:auto;
    padding:5px;
    background-color: #586994;
    box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,1);
    width:40%;
    height:auto;
}